# DATA STRUCTURES

# THEORY QUESTIONS

1. What are data structures, and why are they important?
    - Data Structures :-
        - Data structures in python are specalized format used to store and organize the data.
        - It is used for storing, organizing and manipulating data effectively.
    - Importance of data structure :-
        - Data structure helps with storing data so that we can also get information from that data.
        - Organizing data is another important role of data structure that helps us to get data in many forms such as raw data, pattern data, graph data, etc.
        - Data can be easily fetched once it is stored.
        - Data structure make our work easy to store data and also perform many tasks on our data through built-in functions.

2.  Explain the difference between mutable and immutable data types with examples.
    - Mutable data types :- This data types values are changeable we can edit and update the values.Example are list, int, float.
    - Immutable data types :- This data types values aren't changeable.
    Example are tuple, string.

In [ ]:
#Example of Question 2
l = [0,1] #list is mutable
t = (0,1) #tuple is immutable
l[0] = -1
print(l)
t[0] = -1
print(t)

[-1, 1]

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
    - Difference Between Lists & Tuple:-
        - Lists are mutable and tuples are immutable.
        - Lists are defined with [] and tuples are defined with ()
        - Lists are generally slower due to dynamic nature and tuple are faster as they are immutable.

4. Describe how dictionaries store data.
    - Dictionaries stores data in key-value form.
    - Example {key : value, key : value,...}

5. Why might you use a set instead of a list in Python?
    - To use data that is not doubled.
    - Also for efficient operations like union, intersection.

6. What is a string in Python, and how is it different from a list?
    - String are immutable means they are not changeable.
    - String does not store integer values, float values but list do.
    - String stores single values as list store many values.

7. How do tuples ensure data integrity in Python?
    - Tuple are immutable there contents are not changeable.
    - Tuples are thread-safe because multiple threads cannot modify the same tuple simultaneously.

8. What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table is a data structure that stores key-value pairs and uses a hash function to compute an index (called a hash code) into an array where the value is stored.
    - In Python, the built-in dict type is implemented using a hash table internally.
    - When you write my_dict['name'] = 'Charmi', Python:
        - Hashes the key 'name'.
        - Finds an index in the internal array.
        - Stores the value 'Charmi' at that index.

9.  Can lists contain different data types in Python?
    - Python lists are heterogeneous, meaning they can store elements of any type. This flexibility comes from Python dynamic typing system.

10. Explain why strings are immutable in Python?
    - Python may reuse string objects with the same value.
    - Immutability makes strings safe to use across threads.
    - Functions that take strings as input can rely on them not changing.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries provide constant-time access to values using keys.
    - In dictionaries, data is accessed by meaningful keys.
    - Dictionaries are ideal for storing structured information.
    - Each key in a dictionary is unique, helping avoid accidental duplication.

12. Describe a scenario where using a tuple would be preferable over a list.
    - Scenario: Suppose you're writing a function that calculates a student's name, total marks, and percentage. You don't want these values to be accidentally modified after the function returns them.

13. How do sets handle duplicate values in Python?
    - A set is an unordered collection of unique elements. So it remove the duplicate values.

14. How does the “in” keyword work differently for lists and dictionaries?
    - Lists "in" keyword is used to find the values.
    - Dictionaries "in" keyword is used to find the keys.

15. Can you modify the elements of a tuple? Explain why or why not?
    - No we cannot modify the value in tuple because tuple cannot change its value.
    - They are immutable.

16. What is a nested dictionary, and give an example of its use case?
    - Nested dictionary is dictionary inside other dictionary.

In [2]:
#Example of 16
students = {
    "ABC": {"age": 16,"class": "10th","marks": {"math": 88, "science": 92}},
    "XYZ": {"age": 15,"class": "9th","marks": {"math": 95, "science": 89}}
}
print(students)

{'ABC': {'age': 16, 'class': '10th', 'marks': {'math': 88, 'science': 92}}, 'XYZ': {'age': 15, 'class': '9th', 'marks': {'math': 95, 'science': 89}}}

17. Describe the time complexity of accessing elements in a dictionary.
    - In Python, accessing an element in a dictionary by key has an average-case time complexity of: O(1) — Constant Time.

18. In what situations are lists preferred over dictionaries?
    - Lists preserve insertion order and use numeric indexes.
    - If there's no natural "key" to represent items a dictionary adds unnecessary complexity.
    - Lists use less memory than dictionaries for the same number of values, since they don't store key-value pairs.
    - Lists are better for looping over values directly.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - The order in which key-value pairs were inserted was not guaranteed when retrieved.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists Data Retrieval:-
    - Uses integer index: O(1) if index is known. Not efficient for searching by value: O(n) (linear time)
  - Dictionary Data Retrieval:-
    - Uses hash table: O(1) average time complexity.Very efficient for lookup by key, regardless of size.

# PRACTICAL QUESTIONS

In [ ]:
# 1.  Write a code to create a string with your name and print it.
my_name = "Charmi Andharia"
print(my_name)

Charmi Andharia

In [ ]:
# 2. Write a code to find the length of the string "Hello World".
string = "Hello World"
print("Length of ",string," is ",len(string))

Lenght of  Hello World  is  11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
str1 = "Python Programming"
slice_char = str1[:3]
print(slice_char)

Pyt

In [ ]:
# 4.Write a code to convert the string "hello" to uppercase.
string1 = "hello"
print(string1.upper())

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
fruits = "I like apple"
change_fruit = fruits.replace("apple","orange")
print(change_fruit)

I like orange

In [ ]:
# 6.  Write a code to create a list with numbers 1 to 5 and print it.
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list1 = [1,2,3,4]
list1.append(10)
list1

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1,2,3,4,5]
lst.remove(3)
lst

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
alpha_lst =  ['a', 'b', 'c', 'd']
alpha_lst[1]

'b'

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
num_lst = [10,20,30,40,50]
num_lst.reverse()
num_lst

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [ ]:
# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple_colors = ('red', 'green', 'blue', 'yellow')
tuple_colors[1:]

('green', 'blue', 'yellow')

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple_num = (10,20,5,15)
print(min(tuple_num))

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
pets = ('dog', 'cat', 'rabbit')
print(pets.index('cat'))

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fav_fruits = ("apple","mango","dragon","kiwi")
if "kiwi" in fav_fruits:
    print("Kiwi is present in tuple")
else:
    print("Kiwi is not present in tuple")

Kiwi is present in tuple

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a','b','c'}
print(set1)

{'c', 'a', 'b'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set_num = {1,2,3,4,5}
print(set_num)
set_num.clear()
print(set_num)

{1, 2, 3, 4, 5}
set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
sets = {1,2,3,4}
set_remove = sets.remove(4)
print(sets)

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
union_sets1 = {1,2,3}
union_sets2 = {3,4,5}
union_sets1.union(union_sets2)

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set01 = {1,2,3}
set02 = {2,3,4}
set01.intersection(set02)

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1 = {"name":"charmi","age":"20","city":"bhavnagar"}
print(dict1)

{'name': 'charmi', 'age': '20', 'city': 'bhavnagar'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict1.update({"country":"India"})
dict1

{'name': 'charmi', 'age': '20', 'city': 'bhavnagar', 'country': 'India'}

In [ ]:
# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
personal_details = {'name': 'Alice', 'age': 30}
name_value = personal_details['name']
print("My name is",name_value)

My name is Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
details = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del details['age']
print(details)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict_details = {'name': 'Alice','city': 'Paris'}
if 'city' in dict_details:
    print("There is 'city' key")
else:
    print("There is no key name like city")

There is 'city' key

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list_new = [1,2,3]
tuple_new = ('a','b','c')
dict_new = {'a':1,'b':2,'c':3}
print("List : ",list_new)
print("Tuple : ",tuple_new)
print("Dictionary : ",dict_new)

List :  [1, 2, 3]
Tuple :  ('a', 'b', 'c')
Dictionary :  {'a': 1, 'b': 2, 'c': 3}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result (replaced).
import random
random_list = random.sample(range(1,101),5)
print("Before sorting:",random_list)
random_list.sort()
print("After sorting:",random_list)

Before sorting: [48, 76, 73, 3, 44]
After sorting: [3, 44, 48, 73, 76]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
lst_str = ['abc','xyz','def','pqr']
print(lst_str[3])

pqr

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict_1 = {'a': 1,'b': 2}
dict_2 = {'c': 3,'d': 4}
dict_3 = dict_1 | dict_2
print(dict_3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30. Write a code to convert a list of strings into a set.
string_list = ['my','name','is','charmi']
print(set(string_list))

{'is', 'charmi', 'name', 'my'}